@import './utils/variables';
@import './utils/mixins';
@import './utils/placeholders';
@import './utils/hidden';

@import './common';

@import './components/container';
@import './components/buttons';
@import './components/header';
@import './components/modal-buy-naw';
@import './components/hero';
@import './components/modal-locations';
@import './components/modal-franchise';
@import './components/products';
@import './components/about';
@import './components/advantages';
@import './components/gallery';
@import './components/customer-reviews';
@import './components/contacts';
@import './components/footer';