%title {
    font-family: $font-secondary;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

%btn {
    cursor: pointer;
    font-family: $font-primary;
    border-radius: 22px;
    border: transparent;
}