<section class="about" id="about">
    <div class="about_div">
        <label class="label">TRADITION IN LOVE</label>
        <h2 class="title">HOW IT'S MADE?</h2>
        <img src="/images/about_cow_with_milk.jpg" alt="Корова з молоком">
            <p class="desc1">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
        <img src="/images/about_milk.jpg" alt="Бризги молока" class="img_milk">
            <p class="desc2">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
            Aliquam erat volutpat. Aenean accumsan<span id="dots">.</span>
            <span id="more">. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Id sit esse minima voluptates. Eligendi, veniam quis veritatis harum incidunt similique quibusdam quam tempora illo, iste dolor deleniti. 
            Debitis quam eveniet minus magni perspiciatis praesentium, vero sequi quis eaque fuga ducimus.
            </span></p>
            <button onclick="myFunction()" id="myBtn" class="descbtn"> 
            <p>Read More <div class="about_pointer"><svg width="8" height="7" class="icon">
                <use href="./images/icons.svg#pointer"></use>
                </svg></div> </p></button></div>    
</section>