<section class="about" id="how-its-made">
    <div class="container about__container">
        <label class="label">TRADITION AND LOVE</label>
        <h2 class="title">HOW IT'S MADE?</h2>
        <div class="about_div">
            <div class="about-wrap">
                <img src="./images/about_img1_desc1x.png" alt="Корова з молоком" width="100%">
            </div>
            <div class="foot_desc">
                <p class="desc1">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus,
                    faucibus lorem eget, egestas eros.
                    Maecenas eleifend erat at justo fringilla.</p>
                <div class="desc-wrap">
                    <p class="desc2">
                        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
                        imperdiet placerat.
                        Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                        tincidunt.
                        <span class="desc-text">Aliquam erat volutpat. Aenean accumsan.</span><span id="dots"></span>
                    </p>
                    <div class="desc3">
                        <p id="more">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Id sit esse minima voluptates. Eligendi, veniam quis veritatis harum incidunt similique
                            quibusdam quam tempora illo, iste dolor deleniti.
                            Debitis quam eveniet minus magni perspiciatis praesentium, vero sequi quis eaque fuga
                            ducimus.
                        </p>
                    </div>
                </div>
                <button onclick="myFunction()" id="myBtn" class="button">
                    Read More
                    <svg class="button__icon" width="8" height="10">
                        <use href="./images/icons.svg#icon-more"></use>
                    </svg>
                </button>
            </div>
        </div>
</section>