<section class="about" id="about">
    <div class="container" >
        <div class="about_div">
        <label class="label">TRADITION AND LOVE</label>
        <h2 class="title">HOW IT'S MADE?</h2>
        <div class="foot_desc">
                    <img src="./images/About_img1_mob1x.png" alt="Корова з молоком">
                    <p class="desc1">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
                    Maecenas eleifend erat at justo fringilla.</p>
                    <div  class="desc2"> <img src="./images/about_img2_mob1x.png" alt="бризги молкоа" class="img_milk"> Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
                        Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                        Aliquam erat volutpat. Aenean accumsan <span id="dots">.</span> </div>
                    <div class="desc2"> <span id="more">. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Id sit esse minima voluptates. Eligendi, veniam quis veritatis harum incidunt similique quibusdam quam tempora illo, iste dolor deleniti. 
                    Debitis quam eveniet minus magni perspiciatis praesentium, vero sequi quis eaque fuga ducimus.
                    </div></span>
                    <button onclick="myFunction()" id="myBtn" class="descbtn"> 
                    <p  class="about_pointer"> Read More </p> <svg width="8" height="7" class="icon">
                    <use href="./images/icons.svg#pointer"></use>
                    </svg></button>
                </div>   
        </div> 
</section>