<section class="customer-reviews" id="about-us">
  <div class="container">
    <div class="slider">
      <div class="slider__items">
        <div class="slider__items-photo">
          <img
            src="images/customer-reviews1-mob-1x.jpg"
            alt="photo Emily"
            height="85"
            width="85"
          />
        </div>
        <div class="slider__items-text">
          <p class="slider__items-review">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="slider__items-name">Emily, Los Angeles</p>
      </div>

      <div class="slider__items">
        <div class="slider__items-photo">
          <img
            src="images/customer-reviews2-mob-1x.jpg"
            alt="photo Emily"
            height="85"
            width="85"
          />
        </div>
        <div class="slider__items-text">
          <p class="slider__items-review">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="slider__items-name">Lucy, Ghicago</p>
      </div>

      <div class="slider__items">
        <div class="slider__items-photo">
          <img
            src="images/customer-reviews3-mob-1x.jpg"
            alt="photo Emily"
            height="85"
            width="85"
          />
        </div>
        <div class="slider__items-text">
          <p class="slider__items-review">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="slider__items-name">Kathy, New York</p>
      </div>
    </div>
  </div>
</section>
