<section class="gallery">
    <div class="gallery__container container">
        <h2 class="gallery__title visually-hidden">Gallery</h2>
        <div class="gallery__grid-wrap">
            <div class="gallery__grid">
                <div class="gallery__grid-item"><img src="./images/gallary/galery_1.png" alt="" class="gallery__img">
                </div>
            </div>

            <div class="gallery__grid gallery__grid--rows">
                <div class="gallery__grid-item"><img src="./images/gallary/galery_2.png" alt="" class="gallery__img">
                </div>
                <div class="gallery__grid-item gallery__grid-item--area"><img src="./images/gallary/galery_3.png" alt=""
                        class="gallery__img"></div>
            </div>

            <div class="gallery__grid gallery__grid--columns">
                <div class="gallery__grid-item gallery__grid-item--area1"><img src="./images/gallary/galery_4.png"
                        alt="" class="gallery__img"></div>
                <div class="gallery__grid-item gallery__grid-item--area2"><img src="./images/gallary/galery_5.png"
                        alt="" class="gallery__img"></div>
            </div>

            <div class="gallery__grid gallery__grid--rows-top">
                <div class="gallery__grid-item"><img src="./images/gallary/galery_6.png" alt="" class="gallery__img">
                </div>
                <div class="gallery__grid-item gallery__grid-item--area"><img src="./images/gallary/galery_7.png" alt=""
                        class="gallery__img"></div>
            </div>

            <div class="gallery__grid gallery__grid--rows-bottom">
                <div class="gallery__grid-item"><img src="./images/gallary/galery_8.png" alt="" class="gallery__img">
                </div>
                <div class="gallery__grid-item gallery__grid-item--area"><img src="./images/gallary/galery_9.png" alt=""
                        class="gallery__img"></div>
            </div>

            <div class="gallery__grid">
                <div class="gallery__grid-item"><img src="./images/gallary/galery_10.png" alt="" class="gallery__img">
                </div>
            </div>
        </div>
    </div>
</section>