<!-- <div class="nul"></div> -->

<section class="gallery">
    <div class="gallery__container container">
        <h2 class="visually-hidden">Gallery</h2>
        <div class="grid__wrap">
            <div class="angry-grid">
                <div id="item-0"><img src="./images/gallary/galery_1.png" alt="" class="gallery__img"></div>
            </div>

            <div class="angry-grid-2">
                <div id="item-1"><img src="./images/gallary/galery_2.png" alt="" class="gallery__img"></div>
                <div id="item-2"><img src="./images/gallary/galery_3.png" alt="" class="gallery__img"></div>
            </div>

            <div class="angry-grid-3">
                <div id="item-3"><img src="./images/gallary/galery_4.png" alt="" class="gallery__img"></div>
                <div id="item-4"><img src="./images/gallary/galery_5.png" alt="" class="gallery__img"></div>
            </div>

            <div class="angry-grid-4">
                <div id="item-5"><img src="./images/gallary/galery_6.png" alt="" class="gallery__img"></div>
                <div id="item-6"><img src="./images/gallary/galery_7.png" alt="" class="gallery__img"></div>
            </div>

            <div class="angry-grid-5">
                <div id="item-7"><img src="./images/gallary/galery_8.png" alt="" class="gallery__img"></div>
                <div id="item-8"><img src="./images/gallary/galery_9.png" alt="" class="gallery__img"></div>
            </div>

            <div class="angry-grid-6">
                <div id="item-9"><img src="./images/gallary/galery_10.png" alt="" class="gallery__img"></div>
            </div>
        </div>

    </div>
</section>