<section class="gallery">
        <div class="gallery__container container">
                <h2 class="gallery__title visually-hidden">Gallery</h2>
                <div class="gallery__grid-wrap">
                        <div class="gallery__grid">
                                <div class="gallery__grid-item">
                                        <picture>
                                                <source srcset="./images/gallery/gallery-1.png 1x, ./images/gallery/gallery-1_@2x.png 2x"
                                                        media="(min-width: 1200px)">
                                                <source srcset="./images/gallery/gallery-tablet-1.png 1x, ./images/gallery/gallery-tablet-1_@2x.png 2x"
                                                        media="(min-width: 390px)">
                                                <source srcset="./images/gallery/gallery-mob-1_@2x.png 1x, ./images/gallery/gallery-tablet-1.png 2x"
                                                        media="(min-width: 330px)">
                                                <source
                                                        srcset="./images/gallery/gallery-mob-1.png 1x, ./images/gallery/gallery-mob-1_@2x.png 2x">

                                                <img src="./images/gallery/gallery-1.png" alt="icecream"
                                                        class="gallery__img">
                                        </picture>
                                </div>
                        </div>

                        <div class="gallery__grid gallery__grid--rows">
                                <div class="gallery__grid-item">
                                        <picture>
                                                <source srcset="./images/gallery/gallery-2.png 1x, ./images/gallery/gallery-2_@2x.png 2x"
                                                        media="(min-width: 1200px)">
                                                <source srcset="./images/gallery/gallery-tablet-2.png 1x, ./images/gallery/gallery-tablet-2_@2x.png 2x"
                                                        media="(min-width: 390px)">
                                                <source srcset="./images/gallery/gallery-mob-2_@2x.png 1x, ./images/gallery/gallery-tablet-2.png 2x"
                                                        media="(min-width: 330px)">
                                                <source
                                                        srcset="./images/gallery/gallery-mob-2.png 1x, ./images/gallery/gallery-mob-2_@2x.png 2x">

                                                <img src="./images/gallery/gallery-2.png" alt="icecream"
                                                        class="gallery__img">
                                        </picture>
                                </div>
                                <div class="gallery__grid-item gallery__grid-item--area">
                                        <picture>
                                                <source srcset="./images/gallery/gallery-3.png 1x, ./images/gallery/gallery-3_@2x.png 2x"
                                                        media="(min-width: 1200px)">
                                                <source srcset="./images/gallery/gallery-tablet-3.png 1x, ./images/gallery/gallery-tablet-3_@2x.png 2x"
                                                        media="(min-width: 390px)">
                                                <source srcset="./images/gallery/gallery-mob-3_@2x.png 1x, ./images/gallery/gallery-tablet-3.png 2x"
                                                        media="(min-width: 330px)">
                                                <source
                                                        srcset="./images/gallery/gallery-mob-3.png 1x, ./images/gallery/gallery-mob-3_@2x.png 2x">

                                                <img src="./images/gallery/gallery-3.png" alt="icecream"
                                                        class="gallery__img">
                                        </picture>
                                </div>
                        </div>

                        <div class="gallery__grid gallery__grid--columns">
                                <div class="gallery__grid-item gallery__grid-item--area1">
                                        <picture>
                                                <source srcset="./images/gallery/gallery-4.png 150v, ./images/gallery/gallery-4_@2x.png 2x"
                                                        media="(min-width: 1200px)">
                                                <source srcset="./images/gallery/gallery-tablet-4.png 1x, ./images/gallery/gallery-tablet-4_@2x.png 2x"
                                                        media="(min-width: 390px)">
                                                <source srcset="./images/gallery/gallery-mob-4_@2x.png 1x, ./images/gallery/gallery-tablet-4.png 2x"
                                                        media="(min-width: 330px)">
                                                <source
                                                        srcset="./images/gallery/gallery-mob-4.png 1x, ./images/gallery/gallery-mob-4_@2x.png 2x">

                                                <img src="./images/gallery/gallery-4.png" alt="icecream"
                                                        class="gallery__img">
                                        </picture>
                                </div>
                                <div class="gallery__grid-item gallery__grid-item--area2">
                                        <picture>
                                                <source srcset="./images/gallery/gallery-5.png 1x, ./images/gallery/gallery-5_@2x.png 2x"
                                                        media="(min-width: 1200px)">
                                                <source srcset="./images/gallery/gallery-tablet-5.png 1x, ./images/gallery/gallery-tablet-5_@2x.png 2x"
                                                        media="(min-width: 390px)">
                                                <source srcset="./images/gallery/gallery-mob-5_@2x.png 1x, ./images/gallery/gallery-tablet-5.png 2x"
                                                        media="(min-width: 330px)">
                                                <source
                                                        srcset="./images/gallery/gallery-mob-5.png 1x, ./images/gallery/gallery-mob-5_@2x.png 2x">

                                                <img src="./images/gallery/gallery-5.png" alt="icecream"
                                                        class="gallery__img">
                                        </picture>
                                </div>
                        </div>

                        <div class="gallery__grid gallery__grid--rows-top">
                                <div class="gallery__grid-item">
                                        <picture>
                                                <source srcset="./images/gallery/gallery-6.png 1x, ./images/gallery/gallery-6_@2x.png 2x"
                                                        media="(min-width: 1200px)">
                                                <source srcset="./images/gallery/gallery-tablet-6.png 1x, ./images/gallery/gallery-tablet-6_@2x.png 2x"
                                                        media="(min-width: 390px)">
                                                <source srcset="./images/gallery/gallery-mob-6_@2x.png 1x, ./images/gallery/gallery-tablet-6.png 2x"
                                                        media="(min-width: 330px)">
                                                <source
                                                        srcset="./images/gallery/gallery-mob-6.png 1x, ./images/gallery/gallery-mob-6_@2x.png 2x">

                                                <img src="./images/gallery/gallery-6.png" alt="icecream"
                                                        class="gallery__img">
                                        </picture>
                                </div>
                                <div class="gallery__grid-item gallery__grid-item--area">
                                        <picture>
                                                <source srcset="./images/gallery/gallery-7.png 1x, ./images/gallery/gallery-7_@2x.png 2x"
                                                        media="(min-width: 1200px)">
                                                <source srcset="./images/gallery/gallery-tablet-7.png 1x, ./images/gallery/gallery-tablet-7_@2x.png 2x"
                                                        media="(min-width: 390px)">
                                                <source srcset="./images/gallery/gallery-mob-7_@2x.png 1x, ./images/gallery/gallery-tablet-7.png 2x"
                                                        media="(min-width: 330px)">
                                                <source
                                                        srcset="./images/gallery/gallery-mob-7.png 1x, ./images/gallery/gallery-mob-7_@2x.png 2x">

                                                <img src="./images/gallery/gallery-7.png" alt="icecream"
                                                        class="gallery__img">
                                        </picture>
                                </div>
                        </div>

                        <div class="gallery__grid gallery__grid--rows-bottom">
                                <div class="gallery__grid-item">
                                        <picture>
                                                <source srcset="./images/gallery/gallery-8.png 1x, ./images/gallery/gallery-8_@2x.png 2x"
                                                        media="(min-width: 1200px)">
                                                <source srcset="./images/gallery/gallery-tablet-8.png 1x, ./images/gallery/gallery-tablet-8_@2x.png 2x"
                                                        media="(min-width: 390px)">
                                                <source srcset="./images/gallery/gallery-mob-8_@2x.png 1x, ./images/gallery/gallery-tablet-8.png 2x"
                                                        media="(min-width: 330px)">
                                                <source
                                                        srcset="./images/gallery/gallery-mob-8.png 1x, ./images/gallery/gallery-mob-8_@2x.png 2x">

                                                <img src="./images/gallery/gallery-8.png" alt="icecream"
                                                        class="gallery__img">
                                        </picture>
                                </div>
                                <div class="gallery__grid-item gallery__grid-item--area">
                                        <picture>
                                                <source srcset="./images/gallery/gallery-9.png 1x, ./images/gallery/gallery-9_@2x.png 2x"
                                                        media="(min-width: 1200px)">
                                                <source srcset="./images/gallery/gallery-tablet-9.png 1x, ./images/gallery/gallery-tablet-9_@2x.png 2x"
                                                        media="(min-width: 390px)">
                                                <source srcset="./images/gallery/gallery-mob-9_@2x.png 1x, ./images/gallery/gallery-tablet-9.png 2x"
                                                        media="(min-width: 330px)">
                                                <source
                                                        srcset="./images/gallery/gallery-mob-9.png 1x, ./images/gallery/gallery-mob-9_@2x.png 2x">

                                                <img src="./images/gallery/gallery-9.png" alt="icecream"
                                                        class="gallery__img">
                                        </picture>
                                </div>
                        </div>

                        <div class="gallery__grid">
                                <div class="gallery__grid-item">
                                        <picture>
                                                <source srcset="./images/gallery/gallery-10.png 1x, ./images/gallery/gallery-10_@2x.png 2x"
                                                        media="(min-width: 1200px)">
                                                <source srcset="./images/gallery/gallery-tablet-10.png 1x, ./images/gallery/gallery-tablet-10_@2x.png 2x"
                                                        media="(min-width: 390px)">
                                                <source srcset="./images/gallery/gallery-mob-10_@2x.png 1x, ./images/gallery/gallery-tablet-10.png 2x"
                                                        media="(min-width: 330px)">
                                                <source
                                                        srcset="./images/gallery/gallery-mob-10.png 1x, ./images/gallery/gallery-mob-10_@2x.png 2x">

                                                <img src="./images/gallery/gallery-10.png" alt="icecream"
                                                        class="gallery__img">
                                        </picture>
                                </div>
                        </div>
                </div>
        </div>
</section>