<section class="hero">
  <div class="container">
    <div class="hero__title-box">
      <h1 class="hero__title">
        Ice cream made with
        <span>passion</span>
      </h1>
    </div>
    <div class="icecream-bg">
      <picture>
        <source
          srcset="
            ./images/icecream1x-d.png 1x,
            ./images/icecream2x-d.png 2x,
            ./images/icecream3x-d.png 3x,
            ./images/icecream4x-d.png 4x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/icecream1x-t.png 1x,
            ./images/icecream2x-t.png 2x,
            ./images/icecream3x-t.png 3x,
            ./images/icecream4x-t.png 4x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/icecream1x-m.png 1x,
            ./images/icecream2x-m.png 2x,
            ./images/icecream3x-m.png 3x,
            ./images/icecream4x-m.png 4x
          "
          media="(min-width: 320px)"
        />
        <img src="./images/icecream1x-m.png" alt="Ice cream" width="171" />
      </picture>

      <!-- <img
        src="./images/icecream1x-m.png"
        alt="icecream"
        width="171"
        height="410"
        class="icecream-img"
      /> -->
    </div>
    <div class="hero__text-box">
      <p class="hero__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
        natus laboriosam debitis dignissimos tempore laborum.
      </p>
      <button type="button" class="hero__more-btn">-></button>
    </div>
    <div class="hero__counters-box">
      <div class="cafes-counter">
        <p class="cafes-number">16</p>
        cafes
      </div>
      <div class="trucks-counter">
        <p class="trucks-number">23</p>
        food trucks
      </div>
    </div>
    <img
      src="./images/jug1x-t.png"
      alt="jug"
      width="152"
      height="154"
      class="jug-img"
    />
    <img
      src="./images/girl1x-t.png"
      alt="girl"
      width="190"
      height="150"
      class="girl-img"
    />
  </div>
</section>
