<section class="hero" id="home">
  <div class="container hero__container">
    <div class="hero__left-box">
      <div class="hero__title-box">
        <h1 id="heroTitle" class="hero__title">
          Ice cream made with
          <span class="passion">passion</span>
        </h1>
      </div>

      <ul class="hero__btn-box">
        <li>
          <a href="#products" class="button button--accent products-btn"
            >Products
          </a>
        </li>
        <li>
          <a href="#how-its-made" class="button how-btn">How it's made? </a>
        </li>
      </ul>

      <div class="hero__notice-box">
        <picture>
          <source
            srcset="
              ./images/hero__jug1x-d.png 1x,
              ./images/hero__jug2x-d.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/hero__jug1x-t.png 1x,
              ./images/hero__jug2x-t.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./images/hero__jug1x-t.png"
            alt="jug"
            class="hero__jug-img"
          />
        </picture>

        <div class="hero__text-box">
          <p class="hero__text is-show">
            Ice cream is a sweetened frozen food typically eaten as a snack or
            dessert.
          </p>
          <button type="button" class="button button--circle hero__more-btn">
            <svg class="button__icon" width="12" height="12">
              <use href="./images/icons.svg#arrow"></use>
            </svg>
          </button>
          <div class="hero__more-text">
            It may be made from milk or cream , either sugar or an alternative,
            and a spice, such as cocoa or vanilla, or with fruit such as
            strawberries or peaches. It can also be made by whisking a flavored
            cream base and liquid nitrogen together. The mixture is cooled below
            the freezing point of water and stirred to incorporate air spaces
            and to prevent detectable ice crystals from forming.
          </div>
        </div>
      </div>
    </div>

    <div class="hero__right-box">
      <ul class="hero__counters-box">
        <li class="hero__counter">
          <div data-cafes class="counter-number">16</div>
          cafes
        </li>
        <li class="hero__counter">
          <div data-trucks class="counter-number">23</div>
          food trucks
        </li>
      </ul>

      <picture>
        <source
          srcset="
            ./images/hero__girl1x-d.png 1x,
            ./images/hero__girl2x-d.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/hero__girl1x-t.png 1x,
            ./images/hero__girl2x-t.png 2x
          "
          media="(min-width: 768px)"
        />
        <img
          src="./images/hero__girl1x-t.png"
          alt="girl"
          class="hero__girl-img"
        />
      </picture>
    </div>

    <div class="hero__background">
      <div class="container-bg">
        <div class="hero__icecream-bg">
          <div id="heroIcecream" class="hero__icecream-img">
            <picture>
              <source
                srcset="
                  ./images/hero__icecream1x-d.png 1x,
                  ./images/hero__icecream2x-d.png 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/hero__icecream1x-t.png 1x,
                  ./images/hero__icecream2x-t.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/hero__icecream1x-m.png 1x,
                  ./images/hero__icecream2x-m.png 2x
                "
                media="(min-width: 320px)"
              />
              <img src="./images/hero__icecream1x-m.png" alt="Ice cream" />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
