<section class="product" > 
    <div class="container container_product">   
    <label  class="product__title_up"> 100% natural </label>
   <h2 class="product"> products
   </h2>
   <ul>
       <li>
           <!-- img - pseudoelements -->
           <div class="product__card">
           <h3 class="product__card-title">ice cream</h3>
           <!-- pseudoelement -->
           <p class="product__descr">Lorem ipsum dolor sit amet, 
               consectetur adipiscing elit, sed do eiusmod
               tempor incididunt ut labore et. dolore magna aliqua facilisis. 
               </p>
   
           <!-- modal   for arrow -->
           <button type="button" class="hero__btn btn "
                   data-modal-open>Заказать услугу</button>
           
       </li>
       <li></li>
       <li></li>
   </ul>
   
   </div>
   </section>
    