.about {
  background: $about-bg-color;
  padding-top: 60px;
  padding-bottom: 40px;



  @include maxBreakpoints (767.8px) {
    background-image: url(../images/about_img2_mob1x.png);

    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 615px;

  }

  @include minBreakpoints ($desktop) {
    background-image: url(../images/about_img2_desc1x.png);
    background-position-x: center;
    background-position-y: 145px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.about_div {
  @include minBreakpoints($tablet) {
    display: flex;
    flex-direction: row;
  }
}

.desc-wrap {
  @include tablet {
    display: flex;
    flex-direction: column;
  }
}

.about-wrap {
  @include maxBreakpoints (767767.8px) {
    margin-bottom: 40px;
  }
}


.label {
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  color: $secondary-color;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;

  @include tablet {
    font-size: 26px;
    line-height: 1.14;
  }

  @include desktop {
    font-size: 30px;
  }
}

.title {
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $primary-accent-color;
  margin: 15px 64px 32px 56px;

  @include tablet {
    margin-top: 16px;
    margin-bottom: 40px;
    font-style: 48px;
  }

  @include desktop {
    margin-bottom: 60px;
    font-size: 58px;
  }
}

.desc1 {
  font-size: 12px;
  line-height: 1.62;
  margin-bottom: 32px;
  color: $primary-text-color;

  @include tablet {
    font-size: 14px;
    line-height: 176%;
  }

  @include desktop {
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.04em;
    color: $primary-text-color;
  }
}

#more {
  display: none;
}

.desc2 {
  font-size: 12px;
  line-height: 1.62;
  color: $text-color;
  // position: relative;
  margin-bottom: 20px;

  @include tablet {
    font-size: 14px;
    line-height: 176%;
    letter-spacing: 0.04em;
  }

  @include desktop {
    line-height: 194%;
  }
}

.desc3 {
  font-size: 12px;
  line-height: 162%;
  color: $text-color;
  position: relative;
  margin-bottom: 20px;

  @include tablet {
    font-size: 14px;
    line-height: 176%;
    letter-spacing: 0.04em;

    color: $text-color;
  }

  @include desktop {
    font-size: 14px;
    line-height: 194%;

    color: $text-color;
  }
}

.foot_desc {
  font-size: 12px;
  text-align: left;
  // position: relative;

  @include tablet {
    max-width: 335px;
    font-size: 14px;
    line-height: 176%;
    margin-left: 32px;
    margin-top: 40px;
  }

  @include desktop {
    max-width: 465px;
    margin-left: 99px;
    margin-top: 60px;
    font-size: 16px;
    line-height: 194%;
    letter-spacing: .04em;
  }
}

.desc-text {
  display: block;
  padding-top: 27px;
}