.about {
  background: $about-bg-color;
  padding-bottom: 40px;
}

.label {
  font-family: $font-secondary;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: $secondary-color;
  padding-top: 60px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: $font-secondary;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $primary-accent-color;
  margin: 15px 64px 32px 56px;
}

.desc1 {
  font-family: $font-primary;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  /* or 19px */
  margin-bottom: 40px;
  color: $primary-text-color;
  max-width: 220px;
}

#more {
  display: none;
}

.img_milk {
  position: absolute;
  z-index: 3;
  top: -50px;
  left: 0;
}

.desc2 {
  font-family: $font-primary;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: $text-color;
  position: relative;
  max-width: 220px;
  margin-bottom: 20px;
}

// .descbtn {
//   background: $about-bg-color;
//   border: none;
//   border-radius: 22px;
//   cursor: pointer;
//   font-family: $font-primary;
//   font-style: normal;
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 18px;
//   display: flex;
//   align-items: baseline;
//   text-align: center;
//   color: $primary-accent-color;
//   justify-content: center;
//   margin-top: 20px;
//   padding-bottom: 40px;
// }

// .descbtn > p {
//   font-style: normal;
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 18px;
//   display: flex;
//   align-items: baseline;
//   text-align: center;
//   justify-content: center;
//   margin-right: 20px;
//   align-items: baseline;
// }

.foot_desc {
  text-align: left;
  position: relative;
  max-width: 320px;
  background: url(../images/about_img2_mob1x.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 71px;
}

.foot_desc::before {
  background-position: 50%;
  background-size: contain;
  position: absolute;
  width: 280px;
  min-height: 133px;
  content: '';
  top: 365px;
}
