.advantages {
  padding-bottom: 60px;
  background-color: $about-bg-color;

  @include tablet {
    padding-bottom: 64px;
  }

  @include desktop {
    padding-bottom: 120px;
  }
}
.advantages__list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;

  @include desktop {
    gap: 140px;
  }
}
.dvantages__item {
  width: 100%;
  @include tablet {
    width: calc((100% - 60px) / 3);
  }
}
.advantages__item::before {
  display: block;
  margin-bottom: 25px;
  content: '';
  width: 45px;
  height: 50px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  @include tablet {
    width: 50px;
  }
}
.advantages__item:nth-child(1)::before {
  background-image: url(../images/advantages-1.png);
}
.advantages__item:nth-child(2)::before {
  background-image: url(../images/advantages-2.png);
}
.advantages__item:nth-child(3)::before {
  background-image: url(../images/advantages-3.png);
}
.advantages__title {
  margin-bottom: 30px;
  font-family: $font-secondary;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: $primary-accent-color;

  @include tablet {
    font-size: 48px;
  }

  @include desktop {
    font-size: 58px;
  }
}
.advantages__text {
  max-width: 200px;
  font-family: $font-primary;
  font-size: 12px;
  line-height: 1.42;
  color: $primary-text-color;

  @include tablet {
    max-width: 160px;
    font-size: 14px;
    line-height: 1.24;
  }

  @include desktop {
    max-width: 200px;
    font-size: 16px;
    line-height: 1.03;
  }
}
