// Розмір кнопок завдано падінгами. Якщо потрібен фіксований розмір,
// у себе в scss перевизначайте width:
// html: <button class="contacts__button button button--small">How it’s made?</button>
// scss: .contacts__button { min-width: 162px; }

// приклади розмітки кнопок в html:

// === велика кнопка з іконкою ===
// <button class="button">
//   Our locations
//   <svg class="button__icon" width="8" height="10">
//     <use href="./images/icons.svg#icon-more"></use>
//   </svg>
// </button>

// === велика червона кнопка з іконкою ===
// <button class="button button--accent">
//   Our locations
//   <svg class="button__icon" width="8" height="10">
//     <use href="./images/icons.svg#icon-more"></use>
//   </svg>
// </button>

// === маленька кнопка без іконки ===
// <button class="button button--small">How it’s made?</button>

// === маленька червона кнопка без іконки ===
// <button class="button button--small button--accent">How it’s made?</button>

// === кругла кнопка зі стрілочкою із секції Products ===
// <button class="button button--circle">
//   <svg class="button__icon" width="12" height="12">
//     <use href="./images/icons.svg#arrow"></use>
//   </svg>
// </button>

.button {
  @include centeredFlex();
  padding: 12px 18px;

  font-family: $font-primary;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;

  color: $primary-accent-color;
  border-radius: $btn-radius;
  background-color: $btn-primary-light-color;
  transition: background-color $animation;

  &:hover,
  &:focus {
    background-color: $btn-secondary-light-color;
  }

  &--accent {
    color: $btn-primary-light-color;
    background-color: $btn-secondary-accent-color;

    &:hover,
    &:focus {
      background-color: hsla(345, 84%, 55%);
    }
  }

  &--small {
    padding: 7px 13px;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    border-radius: $btn-small-radius;
  }

  &--circle {
    padding: 0;

    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

.button__icon {
  margin-left: 10px;
  stroke: currentColor;

  .button--circle & {
    margin-left: 0;
    fill: currentColor;
  }
}
