.container.contacts__container {
  @media screen and (min-width: 768px) {
    padding: 0 16px;
  }
}

.contacts {
  background: linear-gradient(
    to bottom,
    $secondary-light-color 302px,
    $about-bg-color 0
  );
  @media screen and (min-width: 768px) {
    background: linear-gradient(
      to bottom,
      $secondary-light-color 274px,
      $about-bg-color 0
    );
    @media screen and (min-width: 1200px) {
      background: linear-gradient(
        to bottom,
        $secondary-light-color 100px,
        $about-bg-color 0
      );
    }
  }
}

.contacts__list {
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    display: flex;
    margin-bottom: 60px;
  }
}

.contacts__item {
  min-width: 280px;
  background: $secondary-light-color;
  box-shadow: $card-shadow;
  border-radius: 24px;
  padding: 40px 32px;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) {
    min-width: 224px;
    &:not(:last-child) {
      margin-right: 32px;
      margin-bottom: 0px;
    }
    @media screen and (min-width: 1200px) {
      min-width: 368px;
      padding: 40px;
    }
  }

  .contacts__title-cafe,
  .contacts__title-foodtruck {
    border-radius: 4px;
    font-family: $font-primary;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    align-items: center;
    display: flex;
    justify-content: center;
    letter-spacing: 0.04em;
    color: $secondary-light-color;
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 1.86;
    }
  }

  .contacts__title-foodtruck {
    width: 130px;
    height: 16px;
    background: #c2e297;
    @media screen and (min-width: 768px) {
      width: 138px;
      height: 28px;
    }
  }

  .contacts__title-cafe {
    background-color: #f0d1a5;
    width: 80px;
    height: 16px;
    @media screen and (min-width: 768px) {
      width: 73px;
      height: 28px;
    }
  }

  .contacts__img {
    display: none;
  }

  .contacts__title-cafe:hover .contacts__img {
    display: block;
    position: absolute;
    margin-right: -250px;
    @media screen and (min-width: 768px) {
      margin-right: -190px;
      width: 80px;
      height: 80px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: -230px;
    }
  }

  .contacts__title-foodtruck:hover .contacts__img {
    display: block;
    position: absolute;
    margin-right: -250px;
    @media screen and (min-width: 1200px) {
      margin-right: -300px;
    }
  }

  .contacts__city {
    font-family: $font-primary;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    letter-spacing: 0.04em;
    color: $primary-text-color;
    margin-top: 0;
    margin-bottom: 8px;
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.86;
      margin-bottom: 12px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 16px;
      line-height: 1.86;
      margin-bottom: 8px;
    }
  }

  .contacts__text {
    font-family: $font-primary;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: $text-color;
    margin-bottom: 24px;
    &:not(:last-child)::after {
      content: '';
      display: block;
      max-width: 288px;
      height: 0px;
      border-bottom: 1px solid #e1e1e1;
      padding: 0px 32px 24px 32px;
    }
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.66;
      margin-bottom: 32px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 16px;
      line-height: 1.83;
      letter-spacing: 0.06em;
    }
  }

  .contacts__days {
    font-family: $font-primary;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    color: $primary-text-color;
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.86;
    }
    @media screen and (min-width: 1200px) {
      font-size: 16px;
    }
  }

  .contacts__time-first,
  .contacts__time-second {
    font-family: $font-primary;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    color: $btn-accent-hover-color;
    @media screen and (min-width: 768px) {
      font-size: 14px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 16px;
    }
  }

  .contacts__time-first {
    margin-bottom: 8px;
    @media screen and (min-width: 768px) {
      margin-bottom: 12px;
    }
  }

  .contacts__time-second {
    margin-bottom: 24px;
    @media screen and (min-width: 768px) {
      margin-bottom: 32px;
    }
  }

  .contacts__time-first:hover:after,
  .contacts__time-second:hover:after {
    content: 'Opening hours can change on official holidays';
    position: sticky;
    width: max-content;
    font-size: 10px;
    background: #ff72da;
    color: $secondary-light-color;
    padding: 4px;
    border-radius: 4px;
    opacity: 0.7;
    transition: $animation;
    display: block;
    text-align: center;
    @media screen and (min-width: 768px) {
      width: auto;
      font-size: 11px;
    }
  }

  .contacts__link {
    text-decoration: none;
    color: $text-color;
    display: block;
    font-family: $font-primary;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    &:not(:last-child)::before {
      content: '';
      display: block;
      max-width: 288px;
      height: 0px;
      border-top: 1px solid #e1e1e1;
      padding: 24px 32px 0px 32px;
    }
    &:hover,
    &:focus {
      color: $btn-primary-accent-color;
      transition: $animation;
    }
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.83;
    }
    @media screen and (min-width: 1200px) {
      font-size: 16px;
    }
  }
}
