 footer{
background-color: $about-bg-color;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  @media screen and (min-width: 768px){
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 121px;
    padding-bottom: 60px;
  }
}

.footer__info-list{
  width: 232px;
  // padding-top: 40px;

  @media screen and (min-width: 1200px) {
      width: 477px;
    }
}

.footer__info-text-top{
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;

  color: $secondary-color;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) and (max-width: 1999px){
      font-size: 26px;
      line-height: 1.15 ;
      letter-spacing: 0.04em;
    }

  @media screen and (min-width: 1200px) {
      font-size: 30px;
      line-height: 1.13;
      
    }
}

.footer__info-text-bottom{
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $btn-primary-accent-color;


  @media screen and (min-width: 768px) and (max-width: 1999px) {
      font-size: 48px;
      line-height: 1.14;
      letter-spacing: 0.06em;
    }
  
    @media screen and (min-width: 1200px) {
      font-size: 58px;
       line-height: 1.13; 
    }
}

.footer__contacts{
  padding: 40px 0;
  text-align: right;

  &-list {
    display: flex;
    justify-content: end;
    margin-bottom: 40px;
  }

  &-item:not(:last-child) {
    margin-right: 28px;
  }

  &-link:hover &-icon,
  &-link:focus &-icon {
  fill: $primary-accent-color;
  }

  &-icon {
    fill: #FEA5BB;
    transition: fill $animation;
  }
}

.footer__number{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: $primary-text-color;

  @media screen and (min-width: 768px) {
      font-size: 14px;
    }

  @media screen and (min-width: 1200px) {
      font-size: 16px;
      letter-spacing: 0.02em;
    }

  &-link {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: $primary-accent-color;


  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}

}

.footer__copyright{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  border-top: 1px solid #E1E1E1;
  padding: 16px 0 3px 0;
  color: $text-color;

  @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      letter-spacing: 0.02em;
      padding: 8px 0 3px 0;
    }
}


