.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;

    @include minBreakpoints (425px) {
        width: 425px;
    }

    @include minBreakpoints ($tablet) {
        width: $tablet;
        padding: 0 32px;
    }

    @include minBreakpoints ($desktop) {
        width: $desktop;
        padding: 0 16px;
    }
}

// .nul {
//     height: 300px;
//     background-color: $about-bg-color;
// }

.gallery {
    padding-bottom: 60px;
    background-color: $about-bg-color;
    background-image: linear-gradient(to bottom, $about-bg-color 12%, #FFFFFF 12%, #FFFFFF 100%);

    @include minBreakpoints ($tablet) {
        background-image: linear-gradient(to bottom, $about-bg-color 46%, #FFFFFF 46%, #FFFFFF 100%);
    }

    @include minBreakpoints ($desktop) {
        background-image: linear-gradient(to bottom, $about-bg-color 15%, #FFFFFF 15%, #FFFFFF 100%);
    }
}

.gallery__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1013px;
    gap: 2px;

    @include minBreakpoints ($tablet) {
        gap: 6px;
    }

    @include minBreakpoints ($desktop) {
        gap: 8px;
    }
}

.gallery__img {
    border-radius: 8px;

    @include minBreakpoints ($tablet) {
        border-radius: 20px;
    }
}

///
.angry-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: 0px;
}

#item-0 {
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 2;
}

//
.angry-grid-2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 2px;

    @include minBreakpoints ($tablet) {
        gap: 6px;
    }

    @include minBreakpoints ($desktop) {
        gap: 8px;
    }
}

#item-1 {
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 2;
}

#item-2 {
    grid-row-start: 2;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 2;
}

//
.angry-grid-3 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 2px;

    @include minBreakpoints ($tablet) {
        gap: 6px;
    }

    @include minBreakpoints ($desktop) {
        gap: 8px;
    }
}

#item-3 {
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 3;
}

//
#item-4 {
    grid-row-start: 3;
    grid-column-start: 1;

    grid-row-end: 4;
    grid-column-end: 2;
}

//
.angry-grid-4 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 2px;
    margin-top: 10px;

    @include minBreakpoints ($tablet) {
        gap: 6px;
    }

    @include minBreakpoints ($desktop) {
        gap: 8px;
    }
}

#item-5 {
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 2;
}

#item-6 {
    grid-row-start: 2;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 2;
}

//
.angry-grid-5 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 2px;
    margin-bottom: 15px;

    @include minBreakpoints ($tablet) {
        gap: 6px;
    }

    @include minBreakpoints ($desktop) {
        gap: 8px;
    }
}

#item-7 {
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 2;
}

#item-8 {
    grid-row-start: 2;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 2;
}

//
.angry-grid-6 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: 0px;
}

#item-9 {
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 2;
}