// === Local variables ===

$top-tablet-offset: 24px;

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: transparent;
  transform: translateY(0);

  z-index: 10;

  &.is-fixed {
    position: fixed;
    top: 0;
    transform: translateY(-100%);
    background-color: rgb(255, 184, 202, 0.4);
    backdrop-filter: blur(4px);

    &.hide {
      transform: translateY(-100%);
      transition: transform $animation;
    }

    &.show {
      transform: translateY(0);
      transition: transform $animation;
    }
  }

  @include tablet {
    top: $top-tablet-offset;
  }
}

.header__container {
  display: flex;
  align-items: center;

  //TODO:
  // @include tablet {
  //   padding-top: 35px;
  // }
}

.header__burger {
  margin-left: auto;

  //TODO:
  // @include tablet {
  //   display: none;
  // }
}

.header__button {
  display: none;
  min-width: 160px;
  margin-left: 32px;

  @include tablet {
    display: block;
  }
}

// === burger start ===
.burger-button {
  display: block;
  padding: 10px 0 10px 10px;
}

// --- burger end ---

// === menu start ===
.menu {
  position: fixed;
  top: 0;
  right: 0;
  // bottom: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-y: auto;

  background-color: $menu-bg-color;
  transform: translateX(100%);
  transition: transform $animation, visibility $animation;
  visibility: hidden;

  &.is-open {
    transform: translateX(0);
    visibility: visible;
  }
  @include tablet {
    width: 40%;
    top: -$top-tablet-offset;
  }

  //TODO:
  //   @media screen and (min-width: 1200px) {
  //     display: flex;
  //     flex-direction: row-reverse;
  //     margin-left: auto;
  //   }

  .header.is-fixed & {
    top: 0;
  }
}
.menu__buttons {
  padding: 10px 20px 20px 20px;

  @include tablet {
    padding: 10px 34px 20px 34px;
  }
}
.menu__close {
  margin-left: auto;
  margin-bottom: 16px;
}

.menu__button {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.menu__list {
  display: flex;
  flex-direction: column;

  //TODO:
  // @include desktop {
  //   flex-direction: row;
  //   gap: 35px;
  // }
}

.menu__item {
  border-top: 1px solid #e18298;
  border-bottom: 1px solid #e18298;
}

.menu__link {
  display: block;
  padding: 12px 20px;
  font-family: $font-primary;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: $secondary-light-color;
  transition: color $animation;

  &:hover,
  &:focus {
    color: $primary-accent-color;
  }
}

// --- menu end ---
