// === Local variables ===

$top-tablet-offset: 24px;

// === burger start ===
.burger-button {
  display: block;
  padding: 10px 0 10px 10px;
}

// --- burger end ---

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: transparent;
  opacity: 1;
  transition: opacity $animation, background-color $animation;

  &--hidden {
    opacity: 0;
    pointer-events: none;
  }

  &--background {
    background-color: rgb(255, 184, 202, 0.4);
    backdrop-filter: blur(4px);

    @include desktop {
      background-color: rgb(255, 184, 202, 0.8);
    }
  }

  @include tablet {
    // top: $top-tablet-offset;
  }

  @include desktop {
    position: fixed;
  }
}

.header__container {
  display: flex;
  align-items: center;

  @include desktop {
  }
}

.header__burger {
  margin-left: auto;

  @include desktop {
    display: none;
  }
}

.header__button {
  display: none;
  min-width: 160px;
  margin-left: 32px;

  @include tablet {
    display: block;
  }

  @include desktop {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.header__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  transition: opacity $animation, visibility $animation;

  .menu.is-open + & {
    visibility: visible;
    opacity: 1;
  }
}

// === menu start ===
.menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 15;

  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  padding-bottom: 40px;
  overflow-y: auto;

  background-color: $menu-bg-color;
  transform: translateX(100%);
  transition: transform $animation, visibility $animation;
  visibility: hidden;

  &.is-open {
    visibility: visible;
    transform: translateX(0);
  }

  @include tablet {
    width: 40%;
  }

  @include desktop {
    position: static;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 0;
    width: auto;
    height: auto;
    min-height: 0;
    z-index: 10;
    background-color: transparent;
    display: flex;
    flex-direction: row-reverse;

    transform: none;
    visibility: visible;
  }
}
.menu__buttons {
  padding: 10px 20px 20px 20px;

  @include tablet {
    padding: 10px 34px 20px 34px;
  }

  @include desktop {
    display: none;
  }
}

.menu__close {
  margin-left: auto;
  margin-bottom: 16px;
}

.menu__button {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.menu__list {
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
    gap: 5px;
  }
}

.menu__item {
  border-top: 1px solid #e18298;
  border-bottom: 1px solid #e18298;

  @include desktop {
    border: none;
  }
}

.menu__link {
  display: block;
  padding: 12px 20px;
  height: 100%;
  font-family: $font-primary;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: $secondary-light-color;
  transition: color $animation;

  &:hover,
  &:focus {
    color: $primary-accent-color;
  }

  @include desktop {
    padding: 12px 15px;

    // .header.show & {
    //   color: $primary-accent-color;

    // &::after {
    //   content: '';
    //   display: block;
    //   width: 100%;
    //   height: 2px;
    //   border-radius: 1px;
    //   background-color: currentColor;
    // }
    // }
  }
}

// --- menu end ---
