// =====  local variables
$hero-top-mobile: 83px;
$hero-top-tablet: 43px;
$hero-top-desktop: 58px;
$hero-height-mobile: 502px;
$hero-height-tablet: 416px;
$hero-height-desktop: 665px;
// ======
.hero {
  position: relative;
  background-color: transparent;
  min-width: $mobile;
  padding-top: $hero-top-mobile;
  @include tablet {
    padding-top: $hero-top-tablet;
  }
  @include desktop {
    padding-top: $hero-top-desktop;
  }
}

.hero .container {
  display: flex;
  justify-content: space-between;
}

.hero__left-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  min-height: $hero-height-mobile - $hero-top-mobile;
  @include tablet {
    min-height: $hero-height-tablet - $hero-top-tablet;
  }
  @include desktop {
    min-height: $hero-height-desktop - $hero-top-desktop;
  }
}

.hero__title-box {
  max-width: 218px;
  @include tablet {
    max-width: 162px;
  }
  @include desktop {
    max-width: 277px;
  }
}

.hero__title {
  font-family: $font-secondary;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 0.96;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $secondary-light-color;
  & span {
    font-size: 48px;
    color: $primary-accent-color;
  }
  @include tablet {
    font-size: 22px;
    line-height: 1.14;
    & span {
      font-size: 34px;
      line-height: 0.9;
    }
  }
  @include desktop {
    font-size: 38px;
    line-height: 1.16;
    & span {
      font-size: 58px;
      line-height: 0.9;
    }
  }
}

.hero__btn-box {
  display: flex;
  gap: 8px;
  @include desktop {
    gap: 12px;
  }
  & .products-btn,
  & .how-btn {
    padding: 0;
    font-family: $font-primary;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    @include desktop {
      font-size: 14px;
      line-height: 1.28;
    }
  }
  & .products-btn {
    width: 61px;
    height: 24px;
    @include desktop {
      width: 107px;
      height: 40px;
    }
  }
  & .how-btn {
    width: 83px;
    height: 24px;
    @include desktop {
      width: 138px;
      height: 40px;
    }
  }
}

.hero__notice-box {
  display: none;
  @include tablet {
    display: flex;
  }
}

.hero__text-box {
  margin: auto;
  @include tablet {
    width: 114px;
  }
  @include desktop {
    width: 200px;
  }
}
.hero__text {
  font-family: $font-primary;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.5;
  color: $secondary-light-color;

  @include desktop {
    font-size: 14px;
    line-height: 1.4;
  }
}

.hero__more-btn {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 10px solid $primary-accent-color;
  border-bottom: 5px solid transparent;
  transition: border-left-color $animation;
  &:hover,
  &:focus {
    border-left-color: hsla(345, 84%, 55%);
  }
  @include desktop {
    border-top: 10px solid transparent;
    border-left: 20px solid $primary-accent-color;
    border-bottom: 10px solid transparent;
  }

  &.is-show {
    width: 5px;
    height: 5px;
    background-color: $primary-accent-color;
    transition: background-color $animation;
    &:hover,
    &:focus {
      background-color: hsla(345, 84%, 55%);
    }
    @include desktop {
      width: 10px;
      height: 10px;
    }
  }
}

.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  background-color: $primary-bg-color;
  min-height: $hero-height-mobile;
  padding-top: $hero-top-mobile;
  overflow-x: clip;

  @include tablet {
    min-height: $hero-height-tablet;
    padding-top: $hero-top-tablet;
  }
  @include desktop {
    min-height: $hero-height-desktop;
    padding-top: $hero-top-desktop;
  }
}
.container-bg {
  width: 100vw;
  padding-left: 36px;
  @include tablet {
    padding-left: 63px;
  }
  @include desktop {
    padding-left: 334px;
  }
}

.hero__icecream-bg {
  margin: 0 auto;
  width: 345px;
  height: 345px;
  border-radius: 50%;
  background-color: $secondary-color;
  @include mobile {
    width: 345px;
    height: 345px;
  }
  @include tablet {
    width: 335px;
    height: 335px;
  }
  @include desktop {
    width: 534px;
    height: 534px;
  }
}

.hero__icecream-img {
  transform: translate(22%, 10%);
}

.hero__jug-img {
  display: none;
  @include tablet {
    display: block;
  }
}

.hero__right-box {
  display: none;
  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 11%;
    text-align: right;
  }
  @include desktop {
  }
}

.cafes-counter,
.trucks-counter {
  position: relative;
  padding-right: 6%;
  font-family: $font-primary;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  color: $secondary-light-color;
  @include desktop {
    font-size: 14px;
    line-height: 1.28;
  }
}
.cafes-counter {
  margin-bottom: 16px;
}
.cafes-number,
.trucks-number {
  font-family: $font-secondary;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  color: $primary-accent-color;
  @include desktop {
    font-size: 46px;
    line-height: 1.15;
  }
}

.cafes-counter::before,
.trucks-counter::before {
  content: '';
  position: absolute;
  top: -3%;
  right: 0;
  z-index: -1;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $secondary-light-color;
  @include desktop {
    width: 30px;
    height: 30px;
  }
}

.hero__girl-img {
  display: none;
  @include tablet {
    display: block;
  }
}
