.product__container {
    justify-content: center;
    
} 
// --------------product scss==============

.product {
    background-color:$secondary-light-color;
    padding-bottom: 60px;
}

.product__title-wrap{
    padding-top: 60px;
    margin-bottom: 148px;

    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;

    @include tablet {
        margin-bottom: 158px;
    }
    @include desktop {
        margin-bottom: 281px;
    }
}

    .product__pre-title {
    font-family:  $font-secondary;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    color:$secondary-color;
    @include tablet {
        font-size: 26px;
        line-height: 1.14;
    }
    @include desktop {
        font-size: 30px;
    }
}

.product__title {
    font-family: $font-secondary;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $primary-accent-color;

    margin-top: 15px;
    margin-bottom: 8px;

@include tablet{ 
    margin-top: 18px;
    margin-bottom: 20px;
    font-size: 48px;
    line-height:1.14 ;
    }

@include desktop{
    margin-top: 16px;
    font-size: 58px;
    }
}

.card {
    width: 100%;
    height: auto;
    padding-top: 140px;
    position: relative;

    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: auto;
    padding-top: 160px;
    position: relative;
    
    @include tablet { 

        padding-top: 118px;
        margin-bottom: 0;
        }
    @include desktop {
        padding-top: 165px
    }
}

.product__list{
    display: flex;
    flex-direction: row;
    justify-content: column;
    flex-wrap: wrap;
    
    @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:    16px;
    flex-wrap: nowrap;
    }
}

.product__item {
    position: relative;
    display: flex;
    
    &:not(:last-child){
        padding-bottom: 140px;
    }
    @media screen and (min-width: 768px) {
    display: flex;
    padding-bottom: 0;
    
    &:not(:last-child){
        padding-bottom: 0;
    }
    }
}


.card--ice-cream:before {
    
    background-image: url("../images/products-img-1-ice-cream-mob-1x.png");
    
    @include tablet {
    background-image: url("../images/products-img-1-ice-cream-tab-1x.png");     
    }
    @include desktop {
    background-image: url("../images/products-img-1-ice-cream-desk-1x.png"); 
    }

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        & { 
        background-image: url("../images/products-img-1-ice-cream-mob-2x.png");
        }
    }  

    @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), 
    screen and (min-width: 768px) and (min-resolution: 192dpi), 
    screen and (min-width: 768px) and (min-resolution: 2dppx) {
        &{
        background-image: url("../images/products-img-1-ice-cream-tab-2x.png");
        }
    }
    @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 1200px)  and (min-resolution: 192dpi), 
    screen and (min-width: 1200px) and (min-resolution: 2dppx) {
        & {
        background-image:  url("../images/products-img-1-ice-cream-desk-2x.png");
        }
    }
}

.card--ice-coffee:before {
    
    background: url("../images/products-img-2-icecoffee-mob-1x.png");
    
    @include tablet { 
    background-image: url("../images/products-img-2-icecoffee-tab-1x.png");     
    }
    @include desktop {
    background-image: url("../images/products-img-2-icecoffee-desk-1x.png")
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        & { 
        background-image: url("../images/poducts-img-2-icecoffee-mob-2x.png");
        }
    }  

    @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), 
    screen and (min-width: 768px) and (min-resolution: 192dpi), 
    screen and (min-width: 768px) and (min-resolution: 2dppx) {
        &{
        background-image: url("../images/products-img-2-icecoffee-tab-2x.png");
        }
    }
    @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 1200px)  and (min-resolution: 192dpi), 
    screen and (min-width: 1200px) and (min-resolution: 2dppx) {
        & {
        background-image:  url("../images/products-img-2-icecoffee-desk-2x.png");
        }
    }
}


.card--milkshakes:before {
    background: url("../images/products-img-3-milkshakes-mob-1x.png");
    
    @include tablet { 
        background-image: url("../images/products-img-3-milkshakes-tab-1x.png");     
    }
    @include desktop {
        background-image: url("../images/products-img-3-milkshakes-desk-1x.png");  
    }

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        & { 
        background-image: url("../images/products-img-3-milkshakes-mob-2x.png");
        }
    }

    @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), 
    screen and (min-width: 768px) and (min-resolution: 192dpi), 
    screen and (min-width: 768px) and (min-resolution: 2dppx) {
        &{
        background-image: url("../images/products-img-3-milkshakes-tab-2x.png");
        }
    }
    @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 1200px)  and (min-resolution: 192dpi), 
    screen and (min-width: 1200px) and (min-resolution: 2dppx) {
        & {
        background-image:  url("../images/products-img-3-milkshakes-desk-2x.png");
        }
    }
}

.card--ice-coffee::before,
.card--milkshakes:before,
.card--ice-cream:before {
    content: "";   
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    transform: translateY(-140px);
    width: 280px; 
    height: 280px; 
    z-index: 1;
    background-position-x: center;
    background-size: contain;
    @include tablet { 
        width: 224px; height: 224px;  
        transform: translateY(-138px);
    }

    @include desktop {
        width: 368px; height: 394px;
        transform: translateY(-262px);
    }
}


.card__title {
    font-family: $font-secondary;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color:$secondary-light-color;
    position: relative;
    margin-bottom: 70px;

    @include tablet { 
        padding-top: 0;
    }
    @include desktop {
        font-size: 30px;
    }
}


.card__text {
    font-family: $font-primary;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    text-align: center;
    letter-spacing: 0.04em;
    color:$secondary-light-color;
    position: relative;
    padding-left: 40px;
    padding-right: 40px; 

    @include tablet {
        line-height: 1.76;
    }

    @include desktop {
        font-size: 16px;
        
    }
}


.card__text:before {
    content: " ";
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color:$btn-primary-light-color;
    background-position-x: center;

    display:inline;
    position:absolute;
    top: -32px;
    left:   50%;
    transform: X(50%);

    box-shadow: 
    -10px 0 0 $btn-primary-light-color ,
    10px 0 0 $btn-primary-light-color ;
    z-index:3;
}

.card-btn{
    margin-top: 40px;
    margin-bottom: 40px;

    @include tablet {  
        margin-top: 32px;

    }
    @include desktop {
        margin-bottom: 60px;
    }
}

.card--ice-cream{
    background: $primary-bg-color;
}

.card--ice-coffee {
    background: $coffe-bg-color;
}

.card--milkshakes {
    background: $milkshakes-bg-color;

}
//  ------------- modal-product - menu



.product-backdrop {
    display: block;

    position: fixed;
    
    top: 0;
    left: 0;
    z-index: 200;
     
    
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    transition: opacity 250ms linear, visibility 250ms linear;
    z-index: 20;
    
}


.product-backdrop.is-hidden {
    display: none;

}

.product-modal-menu {
    width: 100%;
    height: auto;
    width: 280px;
    
    border: none;
    border-radius: 2px;
    padding: 40px 40px;
    position: fixed;
    top: 0;
    left: 0;
    
    max-height: 609px;
    opacity: 1;
    visibility: visible;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    transition: transform 250ms linear;

    @media screen and (max-width: 320px) {
    max-width: 480px;
    width: 95%;
    }
  
    @media screen and (min-width: 768px) {
    width: 95%;
    max-width: 480px;
    }

    @media screen and (min-width: 1200px) {
        width: 578px;
        height: 631px;
}

}
.product--menu1 {
    background-color: $cream-bg-color ;
}

.product--menu2 {
    background-color: $coffe-bg-color;  

}
.product--menu3 {
    background-color: $milkshakes-bg-color ;
}
.product-backdrop.is-hidden  .product-modal-menu {

    // transform: translate(-50%, -50%) scale(0) rotate(-360deg);
    transition: transform $animation, visibility $animation;
}


.product-modal__btn-close {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
    background:$btn-primary-light-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .product-modal__icon-close {
   fill:  #000000;
  }
  .product-modal__icon-closel .product-modal__btn-close:focus,
   .product-modal__btn-close:hover .product-modal__icon-close {
    fill: $primary-accent-color;
    cursor: pointer;
}

.product-modal__icon-close {
    fill: black;
    z-index: 5;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
    fill: #d41443;
}
}

.product-menu-item{
    padding-bottom: 15px;
    font-family: $font-primary;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    text-align: center;
    letter-spacing: 0.04em;
    color:$secondary-light-color;
    position: relative;
    padding-left: 40px;
    padding-right: 40px; 

    @include tablet {
        line-height: 1.76;
    }

    @include desktop {
        font-size: 16px;
        
    }
}

.product-menu-item:nth-last-child(2){
    color: $primary-accent-color;
}


.card__text.product-menu-item .card__text::before{
    display: none;
}