.product__container {
    justify-content: center;
    width: 100%;
    @include tablet {
        width: 768px;
    }
    @include desktop {
       width: 1200px; 
    }
}
// --------------product scss==============

.product {
    background-color:$secondary-light-color;
    padding-bottom: 60px;
}

.product__title-wrap{
padding-top: 60px;
margin-bottom: 148px;

display: flex;
flex-direction: column;
display: flex;
justify-content: center;

@include tablet {
    margin-bottom: 158px;
}
@include desktop {
    margin-bottom: 281px;
}
}

.product__pre-title {
font-family:  $font-secondary;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.17;
text-align: center;
text-transform: uppercase;
color:$secondary-color;
@include tablet {
    font-size: 26px;
    line-height: 1.14;
}
@include desktop {
    font-size: 30px;
     
}
}

.product__title {
    font-family: $font-secondary;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $primary-accent-color;

    margin-top: 15px;
    margin-bottom: 8px;

@include tablet{ 
    margin-top: 18px;
    margin-bottom: 20px;
    font-size: 48px;
    line-height:1.14 ;
    }

@include desktop{
    margin-top: 16px;
    font-size: 58px;
    }
}

.card {
    width: 100%;
    height: auto;
    padding-top: 140px;
    position: relative;

    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: auto;
    padding-top: 160px;
    position: relative;
    
@include tablet { 

    padding-top: 118px;
    margin-bottom: 0;
    }
@include desktop {
    padding-top: 165px
}

}


.product__list{
    display: flex;
    flex-direction: row;
    justify-content: column;
    flex-wrap: wrap;
@media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:    16px;
    flex-wrap: nowrap;
}

}

.product__item {
    position: relative;
    display: flex;
    
    &:not(:last-child){
        padding-bottom: 140px;
    }
    @media screen and (min-width: 768px) {
    display: flex;
    padding-bottom: 0;
    
    &:not(:last-child){
        padding-bottom: 0;
    }

}
}


.card--ice-cream:before {
    
    background-image: url("../images/products-img-1-ice-cream-mob-1x.png");
    
    @include tablet {
    background-image: url("../images/products-img-1-ice-cream-tab-1x.png");     
     }
     @include desktop {
    background-image: url("../images/products-img-1-ice-cream-desk-1x.png"); 
     }
}

.card--ice-coffee:before {
    
    background: url('../images/products-img-2-icecoffee-mob-1x.png');
   
    @include tablet { 
    background-image: url("../images/products-img-2-icecoffee-tab-1x.png");     
    }
    @include desktop {
    background-image: url("../images/products-img-2-icecoffee-desk-1x.png")
    }
}


.card--milkshakes:before {

    background: url("../images/products-img-3-milkshakes-mob-1x.png");
    
    @include tablet { 
        background-image: url("../images/products-img-3-milkshakes-tab-1x.png");     
        
    }
    @include desktop {
        background-image: url("../images/products-img-3-milkshakes-desk-1x.png");
        
    }
}

.card--ice-coffee::before,
.card--milkshakes:before,
.card--ice-cream:before {
    content: "";   
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    transform: translateY(-140px);
    width: 280px; 
    height: 280px; 
    z-index: 1;
    background-position-x: center;

    @include tablet { 
        width: 224px; height: 224px;  
        transform: translateY(-138px);
    }

    @include desktop {
        width: 368px; height: 394px;
        transform: translateY(-262px);
    }
}


.card__title {
    font-family: $font-secondary;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color:$secondary-light-color;
    position: relative;
    margin-bottom: 70px;

    @include tablet { 
        padding-top: 0;
     }
     @include desktop {
        font-size: 30px;
     }
}


.card__text {
    font-family: $font-primary;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    text-align: center;
    letter-spacing: 0.04em;
    color:$secondary-light-color;
    position: relative;
    padding-left: 40px;
    padding-right: 40px; 

    @include tablet {
        line-height: 1.76;
    }

    @include desktop {
        font-size: 16px;
        
    }
}


.card__text:before {
    content: " ";
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color:$btn-primary-light-color;
    background-position-x: center;

    display:inline;
    position:absolute;
    top: -32px;
    left:   50%;
    transform: X(50%);

    box-shadow: 
    -10px 0 0 $btn-primary-light-color ,
    10px 0 0 $btn-primary-light-color ;
    z-index:3;
}

.card-btn{
    margin-top: 40px;
    margin-bottom: 40px;

    @include tablet {  
        margin-top: 32px;

    }
    @include desktop {
        margin-bottom: 60px;
    }
}

.card--ice-cream{
    background: $primary-bg-color;
}

.card--ice-coffee {
    background: $coffe-bg-color;
}

.card--milkshakes {
    background: $milkshakes-bg-color;
  
}


// .card--milkshakes:before{
// @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi),
// (min-resolution: 2dppx) {
//     & { 
//     background-image: url("../images/products-img3-milkshakes-mob-2x.png");
//     }
// }

// @media screen and (min-width: 768px) {
//     &{
//     background-image: url("../images/products-img3-milkshakes-tab-1x.png");
//     }
// }
// @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), 
// screen and (min-width: 768px) and (min-resolution: 192dpi), 
// screen and (min-width: 768px) and (min-resolution: 2dppx) {
//     &{
//     background-image: url("../images/products-img3-milkshakes-tab-2x.png");
//     }
// }
//   @media screen and (min-width: 1200px) {
//     & {
//     background-image:  url("../images/products-img3-milkshakes-desk-1x.png");
//     }
// }

// @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
//  screen and (min-width: 1200px)  and (min-resolution: 192dpi), 
//   screen and (min-width: 1200px) and (min-resolution: 2dppx) {
//    & {
//     background-image:  url("../images/products-img3-milkshakes-desk-2x.png");
//     }
// }
// @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
//     & {
//     background-image: url("../images/products-img2-icecoffee-mob-2x.png");
//     }
// }

// @media screen and (min-width: 768px) {
//     .card--milkshakes:before {
//     background-image: url("../images/products-img2-icecoffee-tab-1x.png");}}
// @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
//     .card--milkshakes:before {
//     background-image: url("../images/products-img2-icecoffee-tab-2x.png");
//     }
// }
// @media screen and (min-width: 1200px) {
//     .card--milkshakes:before {
//     background-image:  url("../images/products-img2-card--milkshakes-desk-1x.png");
//     }
// }
// @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
//  screen and (min-width: 1200px) and (min-resolution: 192dpi),
//   screen and (min-width: 1200px) and (min-resolution: 2dppx) {
//     .card--milkshakes:before {
//     background-image:  url("../images/products-img2-card--milkshakes-desk-2x.png");
//     }
//   }
// }


// @media (min-device-pixel-ratio: 2),
//  (min-resolution: 192dpi), (min-resolution: 2dppx) {
//     .card--ice-coffee:before {
//     background-image: url("../images/products-img2-icecoffee-mob-2x.png");
//     }
// }

// @media screen and (min-width: 768px) {
//     .card--ice-coffee:before {
//     background-image: url("../images/products-img2-icecoffee-tab-1x.png");
//     }
// }
// @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
//  screen and (min-width: 768px) and (min-resolution: 192dpi), 
//  screen and (min-width: 768px) and (min-resolution: 2dppx) {
//     .card--ice-coffee:before {
//     background-image: url("../images/products-img2-icecoffee-tab-2x.png");
//     }
// }

// @media screen and (min-width: 1200px) {
//     .card--ice-coffee:before {
//     background-image:  url("../images/products-img2-icecoffee-desk-1x.png");
//     }
// }
// @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), 
// screen and (min-width: 1200px) and (min-resolution: 192dpi), 
// screen and (min-width: 1200px) and (min-resolution: 2dppx) {
//     .card--ice-coffee:before {
//     background-image:  url("../images/products-img2-icecoffee-desk-2x.png");
//     }
// }


// @media (min-device-pixel-ratio: 2), 
// (min-resolution: 192dpi), (min-resolution: 2dppx) {
//     .card--ice-cream:before {
//     background-image: url("../images/products-img1-ice-cream-mob-2x.png");
//     }
// }

// @media screen and (min-width: 768px) {
//     .card--ice-cream:before {
//     background-image: url("../images/products-img1-ice-cream-tab-1x.png");
//     }
// }

// @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
//  screen and (min-width: 768px) and (min-resolution: 192dpi), 
//  screen and (min-width: 768px) and (min-resolution: 2dppx) {
//     .card--ice-cream:before {
//     background-image: url("../images/products-img1-ice-cream-tab-2x.png");
//     }
// }
// @media screen and (min-width: 1200px) {
//     .card--ice-cream:before {
//     background-image:  url("../images/products-img1-ice-cream-desk-1x.png");
//     }
// }
// @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
//  screen and (min-width: 1200px) and (min-resolution: 192dpi), 
//  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
//     .card--ice-cream:before {
//     background-image:  url("../images/products-img1-ice-cream-desk-2x.png");
//     }
//  }