.product__container {

    justify-content: center;
}
// --------------product scss==============

.product {
    background-color:$secondary-light-color;
    padding-bottom: 60px;
}

.product__title-wrap{
padding-top: 60px;
padding-bottom: 140px;
display: flex;
flex-direction: column;
display: flex;
justify-content: center;
}

.product__pre-title {
font-family:  $font-secondary;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.17;
text-align: center;
text-transform: uppercase;
color:$secondary-color;
}

.product__title {
font-family: $font-secondary;
font-style: normal;
font-weight: 400;
font-size: 34px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;

color: $primary-accent-color;

margin-top: 15px;
margin-bottom: 8px;
}

.card {
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: auto;
    padding-top: 140px;
    position: relative;
}

.product__item {
position: relative;
&:not(:last-child){
    padding-bottom: 140px;
}
}

.card--ice-cream:before {
    content: "";   
    background-image: url("../images/Products-img-1-ice-cream-mob-1x.png");
    background-repeat: no-repeat;
    position: absolute;
    top: -140px;
    
    width: 280px; height: 280px;
    z-index: 1;
    background-position-x: center;
}


.card--ice-coffee:before {
    content: "";    
    background: url('../images/Products-img-2-icecoffee-mob-1x.png');
    background-repeat: no-repeat;
    position: absolute;
    top: -140px; 
    width: 280px; height: 280px;
    z-index: 1;
    background-position-x: center;
}




.card--milkshakes:before {
    content: "";   
    background: url("../images/Products-img-3-milkshakes-mob-1x.png");
    background-repeat: no-repeat;
    position: absolute;
    top: -140px;
    //  left: 0;
    width: 280px; height: 280px;
    z-index: 1;
    background-position-x: center;
}

.card__title {
    font-family: $font-secondary;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color:$secondary-light-color;
    position: relative;
    padding-top: 20px;
    margin-bottom: 70px;
}

.card__text:before {
    content: " ";
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #FFFFFF;
    background-position-x: center;

    display:inline;
    position:absolute;
    top: -32px;
    left:   50%;
    transform: X(50%);

    box-shadow: 
    -10px 0 0 #FFFFFF,
    10px 0 0 #FFFFFF;
    z-index:3;
}

.card__text {
    font-family: $font-primary;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    text-align: center;
    letter-spacing: 0.04em;
    color:$secondary-light-color;
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
}

.card-btn{
    margin-top: 40px;
    margin-bottom: 40px;
}

.card--ice-cream{
    background: $primary-bg-color;
}

.card--ice-coffee {
    background: $coffe-bg-color;
}

.card--milkshakes {
    background: $milkshakes-bg-color;
}


// .card--milkshakes:before{
// @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi),
// (min-resolution: 2dppx) {
//     & { 
//     background-image: url("../images/Products-img-3-milkshakes-mob-2x.png");
//     }
// }

// @media screen and (min-width: 768px) {
//     &{
//     background-image: url("../images/Products-img-3-milkshakes-tab-1x.png");
//     }
// }
// @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), 
// screen and (min-width: 768px) and (min-resolution: 192dpi), 
// screen and (min-width: 768px) and (min-resolution: 2dppx) {
//     &{
//     background-image: url("../images/Products-img-3-milkshakes-tab-2x.png");
//     }
// }
//   @media screen and (min-width: 1200px) {
//     & {
//     background-image:  url("../images/Products-img-3-milkshakes-desk-1x.png");
//     }
// }

// @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
//  screen and (min-width: 1200px)  and (min-resolution: 192dpi), 
//   screen and (min-width: 1200px) and (min-resolution: 2dppx) {
//    & {
//     background-image:  url("../images/Products-img-3-milkshakes-desk-2x.png");
//     }
// }
// @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
//     & {
//     background-image: url("../images/Products-img-2-icecoffee-mob-2x.png");
//     }
// }

// @media screen and (min-width: 768px) {
//     .card--milkshakes:before {
//     background-image: url("../images/Products-img-2-icecoffee-tab-1x.png");}}
// @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
//     .card--milkshakes:before {
//     background-image: url("../images/Products-img-2-icecoffee-tab-2x.png");
//     }
// }
// @media screen and (min-width: 1200px) {
//     .card--milkshakes:before {
//     background-image:  url("../images/Products-img-2-card--milkshakes-desk-1x.png");
//     }
// }
// @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
//  screen and (min-width: 1200px) and (min-resolution: 192dpi),
//   screen and (min-width: 1200px) and (min-resolution: 2dppx) {
//     .card--milkshakes:before {
//     background-image:  url("../images/Products-img-2-card--milkshakes-desk-2x.png");
//     }
//   }
// }


// @media (min-device-pixel-ratio: 2),
//  (min-resolution: 192dpi), (min-resolution: 2dppx) {
//     .card--ice-coffee:before {
//     background-image: url("../images/Products-img-2-icecoffee-mob-2x.png");
//     }
// }

// @media screen and (min-width: 768px) {
//     .card--ice-coffee:before {
//     background-image: url("../images/Products-img-2-icecoffee-tab-1x.png");
//     }
// }
// @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
//  screen and (min-width: 768px) and (min-resolution: 192dpi), 
//  screen and (min-width: 768px) and (min-resolution: 2dppx) {
//     .card--ice-coffee:before {
//     background-image: url("../images/Products-img-2-icecoffee-tab-2x.png");
//     }
// }

// @media screen and (min-width: 1200px) {
//     .card--ice-coffee:before {
//     background-image:  url("../images/Products-img-2-icecoffee-desk-1x.png");
//     }
// }
// @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), 
// screen and (min-width: 1200px) and (min-resolution: 192dpi), 
// screen and (min-width: 1200px) and (min-resolution: 2dppx) {
//     .card--ice-coffee:before {
//     background-image:  url("../images/Products-img-2-icecoffee-desk-2x.png");
//     }
// }


// @media (min-device-pixel-ratio: 2), 
// (min-resolution: 192dpi), (min-resolution: 2dppx) {
//     .card--ice-cream:before {
//     background-image: url("../images/Products-img-1-ice-cream-mob-2x.png");
//     }
// }

// @media screen and (min-width: 768px) {
//     .card--ice-cream:before {
//     background-image: url("../images/Products-img-1-ice-cream-tab-1x.png");
//     }
// }

// @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
//  screen and (min-width: 768px) and (min-resolution: 192dpi), 
//  screen and (min-width: 768px) and (min-resolution: 2dppx) {
//     .card--ice-cream:before {
//     background-image: url("../images/Products-img-1-ice-cream-tab-2x.png");
//     }
// }
// @media screen and (min-width: 1200px) {
//     .card--ice-cream:before {
//     background-image:  url("../images/Products-img-1-ice-cream-desk-1x.png");
//     }
// }
// @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
//  screen and (min-width: 1200px) and (min-resolution: 192dpi), 
//  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
//     .card--ice-cream:before {
//     background-image:  url("../images/Products-img-1-ice-cream-desk-2x.png");
//     }
//  }